
.game{
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: flex-start;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}
.column-game{
  display: flex;
  width: 200px;
  height: 200px;
   border: 2px solid black;
   box-sizing: border-box;
   align-items: center;
}
.cross{
    background:black;
    height: 256px;
    width: 10px;
    position: relative;
    left: 91px;
    transform: rotate(45deg);
}
.cross:after {
  content: "";
  height: 10px;
  width: 257px;
  background:black;
  position: absolute;
  left: -121px;
  top: 120px;
}
  
.circle{
  width: 175px;
  height: 175px;
  border: 10px solid black;
  border-radius: 50%;
}
.toggle{
  opacity: 1;
}
.btn-newgame {
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
}
.modal-body {
  display: flex;
    background-color: silver;
    margin: 25%;
    width: 50%;
    height: 25%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}
.modal-title {
  font-family: 'Josefin Sans', sans-serif;
}
.modal-input__name {
    width: 80%;
    height: 20%;
    border-radius: 10px;
    font-size: 35px;
    text-align: center;
}
.modal-footer{
    display: flex;
    justify-content: space-between;
    width: 27vw;
}
.btn-accept {
    width: 50%;
    height: 5vh;
    border-radius: 8px;
    font-family: 'Josefin Sans';
}
.btn-cancell {
    width: 40%;
    height: 5vh;
    border-radius: 8px;
    font-family: 'Josefin Sans';
}


.btn:link,
.btn:visited {
    font-weight: 900;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}