/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.header{
    display: none;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


.title{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
.game{
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}
.column-game{
  display: flex;
  width: 200px;
  height: 200px;
   border: 2px solid black;
   box-sizing: border-box;
   align-items: center;
}
.cross{
    background:black;
    height: 256px;
    width: 10px;
    position: relative;
    left: 91px;
    transform: rotate(45deg);
}
.cross:after {
  content: "";
  height: 10px;
  width: 257px;
  background:black;
  position: absolute;
  left: -121px;
  top: 120px;
}
  
.circle{
  width: 175px;
  height: 175px;
  border: 10px solid black;
  border-radius: 50%;
}
.toggle{
    display: flex !important
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.modal-body {
    display: flex;
    background-color: silver;
    width: 70vw;
    height: 300px;
    flex-flow: column nowrap;
    place-content: space-around space-evenly;
    align-items: center;
    border-radius: 20px;
}
.modal-title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.modal-input__name {
    width: 72%;
    height: 20%;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 25px;
}
.modal-footer{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.btn:link,
.btn:visited {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #000;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
